@{
    Layout = "~/Views/UserMailer/_Layout.cshtml";
}

<p>Привет @ViewBag.UserName!</p>
Для завершения регистрации, пожалуйста, пройдите по <a href="http://92.243.92.70/solomon/Account/RegisterConfirmation/@ViewBag.ConfirmationToken">ссылке</a>